---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="about">
    <h2>About Us</h2>
    <p>
        Hey! the conehead webring is for all fans & listeners of the
        singer/songwriter Conan Gray to meet like-minded individuals. I <a
            href="https://n3bulaxo.neocities.org"
            ><small>(n3bula)</small>
        </a> created this webring as there is a lack of a similar one, and I also
        want to meet some cool people and see some cool websites!
    </p>
    <p>Listen to Conan Gray and interested? <a href="/join">Join today!</a></p>

    <p>
        The code for this webring is available on <a
            href="https://github.com/marcusleonas/cg-webring">github</a
        > and is heavily based on the <a href="https://webring.bucketfish.me"
            >bucket webring</a
        >.
    </p>

    <hr />
    <h3>Cool People</h3>
    <div class="buttons">
        <a href="https://n3bulaxo.neocities.org"
            ><img
                src="https://n3bulaxo.neocities.org/images/buttons/n3bulasforest.gif"
                alt="n3bula's forest"
            />
        </a>
        <a target="_blank" href="https://webmasterwebring.netlify.app"
            ><img
                src="https://file.garden/ZrZSgsrYfQXsO7QH/ww/btn.png"
                width="88"
                height="31"
            />
        </a>
    </div>
    <h4>people without buttons</h4>
    <a href="https://brisray.com/web/webring-list.htm">webring list</a>
</BaseLayout>
