---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="joinjoinjoin!!">
    <h2>Join!</h2>
    <p>
        Wow, you actually... want to join? You're really cool, you know. Please
        make sure you've read <a href="/rules">the rules</a> before emailing :)
    </p>
    <p>
        Please send an email to <a href="mailto:wishbone@posteo.uk"
            >wishbone@posteo.uk</a
        ><small>(thats me)</small> with the following:
    </p>
    <ul>
        <li>Site Name</li>
        <li>Site URL</li>
        <li>Site Description</li>
        <li>Site Button (if you have one. no worries if not!)</li>
    </ul>
    <p>
        Alternatively, send a message on discord to <a
            href="https://discordapp.com/users/854782372834443305"
            >@flvffywvffy</a
        >.
    </p>
</BaseLayout>
