---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="rules">
    <h2>Webring Rules</h2>
    <p>
        Please make sure your site fits these rules. We do allow sites with
        NSFW, but please have a welcome page saying that it is NSFW.
    </p>

    <ul>
        <li>No blank websites, must have at least a small amount of content</li>
        <li>Page builders are allowed, as long as it's customised!</li>
        <li>
            No facist, transphobic, homophobic, sexist, racist, etc. websites
        </li>
        <li>
            Your site doesn't need to have Conan Gray content, you only need to
            like him!
        </li>
    </ul>
</BaseLayout>
