---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="widgets">
    <h2>Widgets</h2>
    <p>
        So, you've sent an email to join, now you need to add the widget to your
        site! Pick your favourite variant from the options below. Feel free to
        make custom ones, and use our other buttons if you prefer.
        <strong>Please replace "YOURNAME" with the name you gave when signing up.</strong>
    </p>

    <hr />

    <div
        style="display:flex;flex-direction:row;align-items:center;gap:2px;font-family:sans-serif;"
    >
        <a
            href="https://coneheads.n3bula.lol/redirect.html?to=prev&name=YOURNAME"
            target="_top"
            style="font-size:18px;text-decoration:none;color:#477eb1;font-weight:bold;padding:0 5px;"
            >&larr;</a
        >
        <a
            href="https://coneheads.n3bula.lol"
            target="_blank"
            style="font-size:18px;text-decoration:none;color:#477eb1;font-weight:bold;padding:0 5px;"
        >
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/conehead%20webring%2088x31.png"
                alt="conehead webring"
                style="display:block;width:88px;height:31px;image-rendering:pixelated;"
            />
        </a>
        <a
            href="https://coneheads.n3bula.lol/redirect.html?to=random&name=YOURNAME"
            target="_top"
            style="font-size:18px;text-decoration:none;color:#477eb1;font-weight:bold;padding:0 5px;"
            >?</a
        >
        <a
            href="https://coneheads.n3bula.lol/redirect.html?to=next&name=YOURNAME"
            target="_top"
            style="font-size:18px;text-decoration:none;color:#477eb1;font-weight:bold;padding:0 5px;"
            >&rarr;</a
        >
    </div>
    <textarea><div style="display:flex;flex-direction:row;align-items:center;gap:2px;font-family:sans-serif;"><a href="https://coneheads.n3bula.lol/redirect.html?to=prev&name=YOURNAME" target="_top" style="font-size:18px;text-decoration:none;color:#477eb1;font-weight:bold;padding:0 5px;">&larr;</a><a href="https://coneheads.n3bula.lol" target="_blank" style="font-size:18px;text-decoration:none;color:#477eb1;font-weight:bold;padding:0 5px;"><img src="https://file.garden/aXdBx1DU1BidR1It/conehead%20webring%2088x31.png" alt="conehead webring" style="display:block;width:88px;height:31px;image-rendering:pixelated;" /></a><a href="https://coneheads.n3bula.lol/redirect.html?to=random&name=YOURNAME" target="_top" style="font-size:18px;text-decoration:none;color:#477eb1;font-weight:bold;padding:0 5px;">?</a><a href="https://coneheads.n3bula.lol/redirect.html?to=next&name=YOURNAME" target="_top" style="font-size:18px;text-decoration:none;color:#477eb1;font-weight:bold;padding:0 5px;">&rarr;</a></div></textarea>

    <!-- found heaven -->
    <div
        style="display:flex;flex-direction:row;align-items:center;gap:2px;font-family:sans-serif;"
    >
        <a
            href="https://coneheads.n3bula.lol/redirect.html?to=prev&name=YOURNAME"
            target="_top"
            style="font-size:18px;text-decoration:none;color:#cabb32;font-weight:bold;padding:0 5px;"
            >&larr;</a
        >
        <a
            href="https://coneheads.n3bula.lol"
            target="_blank"
            style="font-size:18px;text-decoration:none;color:#cabb32;font-weight:bold;padding:0 5px;"
        >
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/conehead%20webring%20found%20heaven%2088x31.png"
                alt="conehead webring"
                style="display:block;width:88px;height:31px;image-rendering:pixelated;"
            />
        </a>
        <a
            href="https://coneheads.n3bula.lol/redirect.html?to=random&name=YOURNAME"
            target="_top"
            style="font-size:18px;text-decoration:none;color:#cabb32;font-weight:bold;padding:0 5px;"
            >?</a
        >
        <a
            href="https://coneheads.n3bula.lol/redirect.html?to=next&name=YOURNAME"
            target="_top"
            style="font-size:18px;text-decoration:none;color:#cabb32;font-weight:bold;padding:0 5px;"
            >&rarr;</a
        >
    </div>
    <textarea><div style="display:flex;flex-direction:row;align-items:center;gap:2px;font-family:sans-serif;"><a href="https://coneheads.n3bula.lol/redirect.html?to=prev&name=YOURNAME" target="_top" style="font-size:18px;text-decoration:none;color:#cabb32;font-weight:bold;padding:0 5px;">&larr;</a><a href="https://coneheads.n3bula.lol" target="_blank" style="font-size:18px;text-decoration:none;color:#cabb32;font-weight:bold;padding:0 5px;"><img src="https://file.garden/aXdBx1DU1BidR1It/conehead%20webring%20found%20heaven%2088x31.png" alt="conehead webring" style="display:block;width:88px;height:31px;image-rendering:pixelated;" /></a><a href="https://coneheads.n3bula.lol/redirect.html?to=random&name=YOURNAME" target="_top" style="font-size:18px;text-decoration:none;color:#cabb32;font-weight:bold;padding:0 5px;">?</a><a href="https://coneheads.n3bula.lol/redirect.html?to=next&name=YOURNAME" target="_top" style="font-size:18px;text-decoration:none;color:#cabb32;font-weight:bold;padding:0 5px;">&rarr;</a></div></textarea>
    <!-- superache -->
    <div
        style="display:flex;flex-direction:row;align-items:center;gap:2px;font-family:sans-serif;"
    >
        <a
            href="https://coneheads.n3bula.lol/redirect.html?to=prev&name=YOURNAME"
            target="_top"
            style="font-size:18px;text-decoration:none;color:#ad0808;font-weight:bold;padding:0 5px;"
            >&larr;</a
        >
        <a
            href="https://coneheads.n3bula.lol"
            target="_blank"
            style="font-size:18px;text-decoration:none;color:#ad0808;font-weight:bold;padding:0 5px;"
        >
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/conehead%20webring%20superache%2088x31.png"
                alt="conehead webring"
                style="display:block;width:88px;height:31px;image-rendering:pixelated;"
            />
        </a>
        <a
            href="https://coneheads.n3bula.lol/redirect.html?to=random&name=YOURNAME"
            target="_top"
            style="font-size:18px;text-decoration:none;color:#ad0808;font-weight:bold;padding:0 5px;"
            >?</a
        >
        <a
            href="https://coneheads.n3bula.lol/redirect.html?to=next&name=YOURNAME"
            target="_top"
            style="font-size:18px;text-decoration:none;color:#ad0808;font-weight:bold;padding:0 5px;"
            >&rarr;</a
        >
    </div>
    <textarea><div style="display:flex;flex-direction:row;align-items:center;gap:2px;font-family:sans-serif;"><a href="https://coneheads.n3bula.lol/redirect.html?to=prev&name=YOURNAME" target="_top" style="font-size:18px;text-decoration:none;color:#ad0808;font-weight:bold;padding:0 5px;">&larr;</a><a href="https://coneheads.n3bula.lol" target="_blank" style="font-size:18px;text-decoration:none;color:#ad0808;font-weight:bold;padding:0 5px;"><img src="https://file.garden/aXdBx1DU1BidR1It/conehead%20webring%20superache%2088x31.png" alt="conehead webring" style="display:block;width:88px;height:31px;image-rendering:pixelated;" /></a><a href="https://coneheads.n3bula.lol/redirect.html?to=random&name=YOURNAME" target="_top" style="font-size:18px;text-decoration:none;color:#ad0808;font-weight:bold;padding:0 5px;">?</a><a href="https://coneheads.n3bula.lol/redirect.html?to=next&name=YOURNAME" target="_top" style="font-size:18px;text-decoration:none;color:#ad0808;font-weight:bold;padding:0 5px;">&rarr;</a></div></textarea>

    <!-- text -->
    <div>
        <a
            href="https://coneheads.n3bula.lol/redirect.html?to=prev&name=YOURNAME"
            target="_top">&larr;</a
        >
        <a href="https://coneheads.n3bula.lol" target="_blank"
            >conehead webring</a
        >
        <a
            style="font-size:60%"
            href="https://coneheads.n3bula.lol/redirect.html?to=random&name=YOURNAME"
            target="_top">(rand)</a
        >
        <a
            href="https://coneheads.n3bula.lol/redirect.html?to=next&name=YOURNAME"
            target="_top">&rarr;</a
        >
    </div>
    <textarea readonly rows="6" cols="50">
        <div> <a
        href="https://coneheads.n3bula.lol/redirect.html?to=prev&name=YOURNAME"
        target="_top">&larr;</a> <a href="https://coneheads.n3bula.lol"
        target="_blank">conehead webring</a> <a style="font-size:60%"
        href="https://coneheads.n3bula.lol/redirect.html?to=random&name=YOURNAME"
        target="_top">(rand)</a> <a
        href="https://coneheads.n3bula.lol/redirect.html?to=next&name=YOURNAME"
        target="_top">&rarr;</a> </div>
    </textarea>
</BaseLayout>
